* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
}

header {
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  position: relative;
  width: 20rem;
  background-image: linear-gradient(
      rgba(255, 139, 139, 0.5),
      rgba(255, 139, 139, 0.5)
    ),
    url(https://images.unsplash.com/photo-1524587804055-d5ea4392da62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1587&q=80);
  background-size: cover;
}

img {
  width: 20rem;
  opacity: 0;
}

#allDogs {
  position: absolute;
  width: 20rem;
  top: 5%;
  text-align: center;
  
}

#allDogs div {
    padding: .5rem 0 .5rem 0;
}
